* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #b1eebe;
    padding: 20px 0;
    height: 100px;
}

.box-content{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.logo{
 width: 120px;
 height: auto;
}

nav{
    position: absolute;
    max-width: 940px;
    margin: auto;
    background-color: #088c19;
    font-size: 20px;
}

.categorias{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.categorias >li > a{
    display: block;
    padding: 15px 20px;
    color: #c78c19;
    text-decoration: none;
}

.categorias > li:hover{
    background-color: #b1eebe;
}

.productos-venta{
    position: absolute;
    display: none;
    list-style: none;
    width: 250px;
    background-color: #0a0a0a;
}

.categorias li:hover .productos-venta{
    display: block;
}

.productos-venta li:hover{ 
    background-color: black;
}

.productos-venta >li >a{
    display: block;
    color: #0bf33d;
    padding: 15px 15px 15px 20px;
    font-size: 20px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #d1bebe;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.main-product{
    background: #e1e2e6;
}

.description-product{
    width: 940px;
    margin: 0 auto;
}

.container-img {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #e1e2e6;
    border-radius: 20px;
    box-shadow: 0px 15px 20px -8px #242524;
	flex: 1;
}

.container-img img{
    width: 350px;
    align-items: center;
}

.container-info-product {
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #e1e2e6;
	flex: 1;
	flex-direction: column;

}

.container-price {
	padding-bottom: 10px;
	display: flex;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: start;
	align-items: center;
	justify-content: space-between;
    font-size: 30px;
	font-weight: 300;
}

.input-quantity{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    height: 30px;
    font-size: 25px;
}

.btn-add-to-cart{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #c78c19;
}

.container-details-product {
	padding: 30px 0;
    text-decoration: double;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}


.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color:#c78c19;
}

.productos li:active{
    border-color:#088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    display: inline-block;
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

footer{
    height: 180px;
    text-align: center;
    background: #cfcfcf;
    padding:40px;
}

.footer_img{
    width: 160px;
    height: auto;
}

.copyright{
    color:#0a0a0a;
    font-size: 13px;
    margin:20px;
}

form{
    align-items: center;
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Aquí inicia el CSS para nuestra home*/
.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto; 
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float:left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888)
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items:before{
    content:"★"
}

.items:first-child{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 50%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;
}

.imagen-diferenciales:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }

}
