* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    display: block;
    position: relative;
    border: 0;
    background-color: #61e77e;
}

.box-content {
    display: flex;
    width: 1000px;
    position: relative;
    margin: auto;
    padding: auto;
    padding-top: 15px;
    background-color: #61e77e;
}

.logo {
    display: flex;
    justify-content: center;
    width: 12%;
    margin-left: 20px;
    padding-bottom: 15px;
}

nav {
    position: absolute;
    max-width: 60%;
    margin: auto;
    margin-top: 15px;
    margin-left: 200px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: #61e77e;
}

.categorias {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.categorias>li>a {
    display: block;
    padding: 15px 20px;
    color: #2c1ca3;
    text-decoration: none;
}

.categorias>li:hover {
    background-color: #eee23c !important;
}

.productos-venta{
    position: absolute;
    display: none;
    list-style: none;
    width: 180px;
    height: auto;
    background-color: #0a0a0a;
    z-index: 99;
}

.categorias li:hover .productos-venta {
    display: block;
    position: fixed;
}

.productos-venta li:hover {
    background-color: #eee23c;
}

.productos-venta li a {
    display: block;
    color: #f58607;
    padding: 10px 15px 15px 20px;
    font-size: 12px;
}

.banner {
    text-align: center;
    width: 100%;
    height: 200px;
    background-image: url(banner/IMG_0995.png);
}

.banner img{
    width: 250px;
    height: 180px;
    justify-content: space-around;
    padding: 10px;
    padding-left: 25px;
}

main{
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(248, 240, 240), rgb(197, 194, 194));
}

.principal {
    padding: 15px 0;
    width: 1040px;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 20px;
    margin:0 0;
    padding: 10px 0;
    clear: left;
    font-family: 'Roboto', sans-serif;
}

.principal p {
    margin: 0 0 1em;
    font-size: 15px;
    text-align: justify;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
}

.imagenes-ref {
    width: 90px;
    float: left;
    margin: 0 20px 20px 0;
}

.diferenciales {
    padding: 2em 0;
}

.contenido-diferenciales {
    width: 940px;
    margin: 0 auto;
}

.produccion {
    width: 50%;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding-bottom: 25px;
}

.produccion p{
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.imagen-diferenciales {
    width: 35%;
    transition: 400ms;
    margin: 15px;
    margin-left: 75px;
    box-shadow: 10px 10px 30px 15px #000000;
    object-fit: cover;
}

.imagen-diferenciales:hover {
    opacity: 0.3;
}

.section-visit{
    width: 940px;
    margin: 0 auto;
    padding: 25px;
}

.galeria {
    width: 800px;
    margin: 0 auto;
    position: absolute;
}

  .fotos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
  }
  
  .foto {
    width: 200px;
    height: 200px;
    margin: 50px 15px;
    border: 1px solid #e70f0f;
    box-sizing: border-box;
    display: none;
  }
  
  .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .foto p {
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }

  .boton_galeria {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin:auto ;
  }

.slider{
    position: relative;
    width: 940px;
    height: 380px;
    margin: 20px auto;
    box-shadow: 0 8px 32px 0 #000000;
    overflow: hidden;
}

.div-sliders {
    width: 300%;
    height: 100%;
    display: flex;
}

.slider-section{
    width: calc(100%/3);
    height: 100%;
}

.slider-section img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-section span{
    position: relative;
    bottom: 25%;
    left: 5%;
    color: #fefefe;
    padding: auto;
    font-size: 30px;
    z-index: 99;
}

.btn-left, .btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 30px;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    color: #fefefe;
    transform: translate(0,-50%);
    cursor: pointer;
    background:transparent;
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover, .btn-right:hover {
    color: #61e77e;
    background: #888888;
}

.btn-left{
    left: 10px;
} 
.btn-right {
    right: 10px;
}

.mapa {
    padding: 3em 0;
}

.mapa h3{
    font-size: 20px;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
    font-size: 12px;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}

/*css product */

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 30px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 10px 1.5%;
    padding: 30px 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    background: #fefefe;
    border: 5px solid #dad4d4;
}

.productos li a{
    color: #2c1ca3;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    justify-content: center;
}

.productos li:hover {
    border-color: #61e77e;
    width: 30.15%;
}

.productos li:active {
    border-color: #34f83e;
}

.productos h2 li {
    font-size: 30px;
    font-weight: bold;
    border: none;
}

.productos h2 li:hover {
    font-size: 33px;
}

.productos h2 li {
    font-size: 30px;
    font-weight: bold;
    border: none;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
}

.product-total{
    justify-content: center;
}

.product-total img{
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    object-fit: cover;
    justify-content: center;
}

/*VENTA PRODUCTO*/

.description-product-unit {
    padding: 3em 0;
    background: #FEFEFE;
}

.container-img {
    width: 840px;
    margin: 0 auto;
    opacity: 1;
    visibility: visible;
}

.slider-producto {
    position: relative;
    display: inline-block;
    width: 45%;
    padding: auto;
    height: 100%;
    margin: 10px auto;
    box-shadow: 0 8px 32px 0 #000000;
    overflow: hidden;
}

.div-sliders-prod {
    width: 300%;
    height: 100%;
    display: flex;
}

.slider-section-producto{
    width: calc(100%/3);
    height: 100%;
}

.slider-section-producto img{
    position: relative;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.btn-left-pro, .btn-right-pro{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 30px;
    border-radius: 20%;
    padding: 5px;
    font-weight: 600;
    color: #fefefe;
    transform: translate(0,-50%);
    cursor: pointer;
    background:transparent;
    transition: .5s ease;
    z-index: 99;
    user-select: none;
}

.btn-left-pro:hover, .btn-right-pro:hover {
    color: #fefefe;
    background: #888888;
}

.btn-left-pro{
    left: 10px;
} 
.btn-right-pro{
    right: 10px;
}

.caracteristicas-pro{
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 100px;
    background: #fefefe;
    justify-content: center;
}

.caracteristicas-pro h2{
    color: #66580a;
    font-size: 25px;
    gap: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.container-price span{
    color: #2c1ca3;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.caracteristicas-pro p{
    color: #2c1ca3;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;  
}

.caracteristicas-pro ul{
    display: inline-flex;
    list-style: none;
    padding-top: 15px;
}

.caracteristicas-pro li a{
    position: relative;
    color: #2c1ca3;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 15px;
}

.caracteristicas-pro li a:hover{
    color: #7adc09;
}

.container-description {
    width: 840px;
    margin: 20px 0 auto;
}

.container-description p{
    padding-bottom: 10px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.container-reviews {
    max-width: 940px;
    margin: 20px 0 auto;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.box-contact {
    width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.contaner-info{
    width: 100%;
    height: auto;
}

.contaner-info form{
    width: 80%;
    position: relative;
    display: inline-block;
    background: #fefefe;
    margin: 1%;
    left: 9%;
}

.contaner-info form label{
    width: 20%;
    height: 20px;
    position: relative;
    display: inline-block;
    background: #2c1ca3;
    color: #fefefe;
    margin: 3%;
    text-align: center;
    left: 9%;
}

.contaner-info form input{
    width: 50%;
    height: 30px;
    position: relative;
    display: inline-block;
    background: #e8eaee;
    margin: 3% 0;
    left: 9%;
}

.contaner-info form textarea{
    width: 80%;
    height: 100px;
    position: relative;
    display: block;
    background: #e8eaee;
    margin: 0;
    left: 9%;
}

.contaner-info form .enviar{
    width: 20%;
    height: 30px;
    position: relative;
    display: block;
    font-size: 15px;
    color:#fff;
    border-radius: 5px;
    background: #ebc82c;
    transition: all .5s ease;
}

.contaner-info form .enviar:hover{
    width: 21%;
    display: block;
    background: #c22903;
    border: 2px solid #e05210;
}

.contaner-info img{
    display: inline-flex;
    position: relative;
    left: 9%;
    width: 25%;
    margin: 0 0.5%;
    padding: 10px 10px;
    box-sizing: border-box;
    
}

.contaner-info h3{
    color: #0a0a0a;
    font-size: 20px;
    text-align: center;
    margin: 2%;
}

footer {
    position: relative;
    height: 120px;
    align-items: center;
    text-align: center;
    background: #61e77e;
    padding: 40px;
}

.footer_img {
    width: 160px;
    height: auto;
}

.container-redes {
    width: 400px;
    margin: auto
}

.container-redes ul {
    text-align: center;
}

.container-redes ul li {
    display: inline-block;
    justify-content: space-around;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.container-redes ul li a{
    color: #000000;
}

.copyright {
    color: #000000;
    font-size: 13px;
    margin: 15px;
}

.aviso-cookies{
    display: none;
    background: #61e77e;
    padding: 20px;
    width: calc(100%-40px);
    max-width: 388px;
    line-height: 150%;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 6px 2px 20px 10px rgb(222, 222, 222, .25);
    text-align: center;
}
.aviso-cookies.activo {
    display: block;
}

 .aviso-cookies .galleta {
    max-width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.aviso-cookies .titulo, .aviso-cookies .titulo  {
    margin-bottom: 15px;
}

.aviso-cookies .boton  {
    width: 100%;
    background-color: #888888;
    border: none;
    color: #c4d4c8;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all ease 0.3s;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}
.aviso-cookies .boton:hover  {
    background: #2c1ca3;
}

.aviso-cookies .enlace {
    color: #110650;
    text-decoration: none;
    font-size: 14px;
}

.aviso-cookies .enlace:hover {
    color: #2c1ca3;
    text-decoration: underline;
    font-size: 14px;
}

.fondo-aviso-cookies {
    display: none;
    background: rgb(0, 0, 0,0.2);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.fondo-aviso-cookies.activo {
    display: block;
}

/*Haciendo la página Responsive*/
@media screen and (max-width:1200px) {
    header{
        width: auto;
    }

    .box-content{
        width: auto;
        align-items: center;
        justify-content: center ;
    }

    nav {
        position: relative;
        margin: auto;
        margin-right: 75px;
    }

    .banner{
        width: auto;
    }
    .banner img{
        display: inline-flex;
        width: 210px;
        margin-top: 15px;
        box-sizing: border-box;
        justify-content: space-around;
    }

    .box-contact{
        width: auto;
    }

    .diferenciales {
        padding: 3em 0;
        background: #fefefe;
    }
    
    .contenido-diferenciales {
        width: auto;
        margin: 0 auto;
    }

    .principal {
        width: auto;
    }

    .principal p{
        text-align: justify;
        justify-content: center;
        margin: auto 20px;
    }

    .galeria {
        width: auto;
        margin: 0 auto;
        position: absolute;
    }
    
    .fotos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
      
    .foto {
        width: 150px;
        height: 150px;
        margin: 50px 15px;
        border: 1px solid #e70f0f;
        box-sizing: border-box;
        display: none;
    }
      
    .foto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
      
    .foto p {
        margin: 5px 0;
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }

    .slider{
        position: relative;
        width: auto;
        height: 380px;
        margin: 20px auto;
        box-shadow: 0 8px 32px 0 #000000;
        overflow: hidden;
    }

    .slider-section{
        width: calc(100%/3);
        height: 100%;
    }
    
    .slider-section img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .slider-section span{
        position: relative;
        bottom: 25%;
        left: 5%;
        color: #fefefe;
        padding: auto;
        font-size: 30px;
        z-index: 99;
    }

    .mapa-contenido {
        width: 500px;
        margin: 0 auto;
    }

    .contaner_contact ul li a{
        align-items: center;
        margin: auto;
        font-size: 40px;
    }
    
    main {
        width: auto;
    }

    .productos {
        width: auto;
        margin: 0 5%;
        padding: 30px;
        background: #fefefe;
    }
    .productos img{
        width: 120px;
        height: auto;
        margin: 20px 20px;
    }

    .productos li a{
        color: #2c1ca3;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
    }
    .productos h2 li {
        font-size: 20px;
        font-weight: bold;
        border: none;
    }

    .productos li:hover{
        width: 30.03%;
    }
    
    .producto-precio {
        font-size: 11px;
        font-weight: bold;
        color: #56536e;
    }

    .container-img{
        width: auto;
        margin: 20px;
    }
}

@media screen and (max-width:820px) {
    body {
        width: auto;
        height: auto;
    }
    
    header {
        width: auto;
        display: block;
    }

    .box-content {
        display: flex;
        width: auto;
        padding: auto;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 50px;
        margin-left: 40px;
        padding-bottom: 10px;
    }
    
    nav {
        position: relative;
        max-width: auto;
        margin: auto;
        margin-left: 60px;
        font-size: 15px;
        background-color: #61e77e;
    }

    main{
        width: auto;
    }

    .banner img{
        display: none;
    }

    .principal p{
        width: 80%;
        margin: 5px auto;
        text-align: justify;
        justify-content: center;
    }

    .contenido-diferenciales {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }

    .produccion {
        width: 100%;
    }

    .imagen-diferenciales{
        width: 40%;
    }

    .imagen-diferenciales img{
        display: flex;
        justify-content: center;
    }

    .section-visit{
        width: auto;
    }

    .galeria {
        width: auto;
        margin: 0 auto;
        position: absolute;
    }
    
    .fotos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
      
    .foto {
        width: 100px;
        height: 100px;
        margin: 40px 10px;
        border: 1px solid #e70f0f;
        box-sizing: border-box;
        display: none;
    }
      
    .foto p {
        margin: 5px 0;
        box-sizing: border-box;
        font-size: 9px;
        font-family: 'Roboto', sans-serif;
    }

    .slider{
        position: relative;
        width: 90%;
        height: 380px;
        margin: 20px auto;
        box-shadow: 0 8px 32px 0 #000000;
        overflow: hidden;
    }

    .slider-section{
        width: calc(100%/3);
        height: 100%;
    }
    
    .slider-section img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .slider-section span{
        position: relative;
        bottom: 35%;
        left: 5%;
        color: #fefefe;
        padding: auto;
        font-size: 20px;
        z-index: 99;
    }

    .btn-left{
        left: 20px;
    } 
    .btn-right {
        right: 20px;
    }

    .mapa-contenido {
        width: 60%;
    }

    .box-contact {
        display: flex;
        align-items: start;
        margin: 0px auto;
        background: #eaeceb;
    }
    
    .contaner-info{
        width: auto;
        height: 90%;
        margin: auto;
    }
    
    .contaner-info img{
        display: inline-block;
        text-align: center;
        width: 25% ;
        vertical-align: top;
        margin: 0 0.5%;
        box-sizing: border-box;
    }
    
    .contaner_contact {
        width: auto;
        height: 90%;
        justify-content: center;
        align-items: center;
        background: #eaeceb;
        margin: auto;
    }
    
    .contaner_contact h3{
        color: #0a0a0a;
        font-size: 12px;
    }
    
    .contaner_contact ul li a{
        align-items: center;
        margin: auto;
        font-size: 20px;
    }

    .productos {
        width: auto;
        margin: 0 3%;
        padding: 5px;
        background: #fefefe;
    }

    .productos img{
        width: 85px;
        margin: 20px 20px;
    }

    .productos li a{
        color: #2c1ca3;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
    }

    .productos li:hover{
        width: 30.05%;
    }
    
    .producto-precio {
        font-size: 10px;
        font-weight: bold;
        color: #56536e;
    }

    .description-product-unit {
        padding: 5em 0;
        background: #FEFEFE;
    }
    
    .container-img {
        width: auto;
        margin: 30px;
        opacity: 1;
        visibility: visible;
    }
    
    .slider-producto {
        width: 40%;
        transition: 400ms;
        box-shadow: 5px 5px 10px 5px #000000;
    }
    
    .imagen-producto:hover {
        opacity: 1;
    }
    
    .caracteristicas-pro{
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin-top: 25px;
        margin-left: 50px;
        background: #fefefe;
        justify-content: center;
    }
    
    .caracteristicas-pro h2{
        color: #66580a;
        font-size: 20px;
        gap: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .container-price span{
        color: #2c1ca3;
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .caracteristicas-pro p{
        color: #2c1ca3;
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;  
    }
    
    .caracteristicas-pro li a{
        position: relative;
        color: #110650;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        padding-left: 5px;
    }
    
    .container-description {
        width: auto;
        margin: auto;
        margin-left: 5px;
        padding-top: 20px;
        text-align: justify;
    }
    
    
    .container-reviews {
        max-width: auto;
        margin: 20px 0 auto;
        text-align: justify;
    }
}

@media screen and (max-width:420px) {
    body {
        width: auto;
        height: auto;
    }
    
    header {
        width: auto;
        display: block;
    }

    .box-content {
        display: flex;
        width: auto;
        padding: auto;
        align-items: end;
    }

    .logo {
        display: flex;
        justify-content: start;
        width: 50px;
        margin-left: 10px;
        padding-bottom: 1px;
    }
    
    nav {
        position: relative;
        max-width: auto;
        margin: auto;
        margin-left: 30px;
        font-size: 9px;
    }

    .productos-venta li{
        display: none;
    }
    
    main{
        position: relative;
        width: auto;
        margin: auto;
    }

    .banner img{
        display: none;
    }

    .principal p{
        width: 80%;
        margin: 5px auto;
        text-align: justify;
        justify-content: center;
    }

    .principal img{
       display: none;
    }

    .diferenciales{
        padding: 6em 0;
    }

    .contenido-diferenciales {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .produccion {
        width: 100%;
    }

    .imagen-diferenciales{
        width: 60%;
       margin: 25px;
    }

    .imagen-diferenciales img{
        width: 80%;
    }

    .section-visit{
        width: auto;
        margin: 0 auto;
        padding: 25px;
    }
    
    .galeria {
        width: auto;
        margin: 0 auto;
        position: relative;
    }
    
      .fotos {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
      }
      
      .foto {
        width: 40px;
        height: 40px;
        margin: 0 10px 40px 10px;
        border: 1px solid #2e2c2c;
        box-sizing: border-box;
        display: none;
      }
      
      .foto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .foto p {
        margin: 5px 0;
        font-size: 5px;
        box-sizing: border-box;
      }

      .boton_galeria {
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 12px;
        cursor: pointer;
        margin-top: 30px;
      }

    .slider{
        position: relative;
        width: 80%;
        height: 200px;
        margin: 10px auto;
        box-shadow: 0 4px 12px 0 #000000;
        overflow: hidden;
    }

    .slider-section span{
        font-size: 15px;
        bottom: 35%;
    }

    .mapa-contenido{
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: center;
    }

    .mapa-contenido iframe{
        height: 100%;
        margin: auto;
        right: 100px;
    }
    /*css product */

    .productos {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: auto;
        margin: 0 auto;
        padding: 50px;
    }

    .productos li {
        display: inline-flex;
        text-align: center;
        width: 100%;
        vertical-align: top;
        margin: 3px auto;
        padding: 10px 15px 15px;
        border-radius: 6px;
        box-sizing: border-box;
        border: 2px solid #b5caf1;
    }

    .productos li img{
        max-width: 82%;
    }

    .productos li a{
        color: #2c1ca3;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }


    .productos h2 li {
        font-size: 20px;
        font-weight: bold;
        border: none;
    }

    .productos h2 li:hover {
        font-size: 33px;
    }
    
    .productos li:hover {

        border-color: #61e77e;
        width: 100%;
    }

    .producto-precio {
        display: none;
    }

/*VENTA PRODUCTO*/
    .container-img{
        width: auto;
    }

    .description-product-unit {
        padding: 3em 0;
        margin: 15px;
    }

    .slider-producto {
        width: 82%;
        margin-left: 9%;
        transition: 400ms;
        box-shadow: 10px 5px 20px 5px #000000;
    }

    .caracteristicas-pro{
        width: auto;
        display: inline;
        vertical-align: top;
        background: #29ca31;
        justify-content: start;
    }

    .caracteristicas-pro h2{
        color: #66580a;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    .container-price span{
        display: flex;
        color: #0a296b;
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
        justify-content: center;
    }
 
    .caracteristicas-pro ul{
        display: flex;
        list-style: none;
    }

    .caracteristicas-pro li{
        position: relative;
        color: #110650;
        font-size: 12px;
        left: 15px;
        font-weight: bold;
        text-decoration: none;
    }

    .caracteristicas-pro li a:hover{
        color: #7adc09;
    }

    .container-description {
        width: auto;
        margin: auto;
        padding-top: 20px;
        text-align: justify;
    }
    
    .container-reviews {
        margin: 20px;
        text-align: justify;
    }

    .box-contact {
        background: #fefefe;
    }
    
    .contaner-info{
        display: inline-block;
        position: relative;
        width: auto;
        height: 100%;
        margin: 2%;
        margin-top: 5%;
    }

    .contaner-info form {
        width: auto;
        position: relative;
        display: inline-block;
        background: #888888;
        border-radius: 5%;
        margin: 1%;
        left: 0;
    }
    
    .contaner-info img{
        display: inline-block;
        position: relative;
        width: 25% ;
        height: inherit;
        left: 9%;
       
    }
    
    .contaner_contact {
        position: relative;
        display: flex;
        width: auto;
        height: 75%;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
    }
    
    .contaner-info h3{
        color: #0a0a0a;
        font-size: 12px;
        text-align: center;
    }

    footer {
        position: relative;
        height: 50px;
        bottom: 0px;
        text-align: center;
        background: #61e77e;
        padding: 20px;
    }
    
    .container-redes {
        width: 200px;
        height:auto;
    }

    .container-redes ul li{
        font-size: 20px;
        padding: 5px;
        margin: 0;
    }

    .copyright {
        color: #2c1ca3;
        opacity: 0.5;
        font-size: 10px;
    }

    .aviso-cookies{
        display: none;
        background: #61e77e;
        right: 15px;
        justify-content: center;
        width: calc(100%-40px);
        max-width: 380px;
    }

    .aviso-cookies .galleta {
        display: none;
    }

    .aviso-cookies .enlace {
        color: #56536e;
        text-decoration: underline;
        font-size: 14px;
    }
    
    .aviso-cookies .boton {
        background: #56536e;
    }

    .aviso-cookies .enlace:hover {
        background: #2c1ca3;
    }
    
    .aviso-cookies .boton:hover  {
        background: #110650;
    }
}